* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body,
html {
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://imgs.search.brave.com/u-Gd0P_oOZ_J38whWIe0JhT7JdP-e6AhnCfgdRvz9aw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wMzgv/ODEyLzg2OS9zbWFs/bC9haS1nZW5lcmF0/ZWQtYmVhdXRpZnVs/LWJhY2tncm91bmQt/Zm9yLXBpYW5vLWNv/bmNlcnQtZXh0ZW5z/aW9ucy1hZHZlcnRp/c2luZy1mcmVlLXBo/b3RvLmpwZWc);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.piano {
  position: relative;
  width: 66%;
  height: 40%;
  display: flex;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
}

.white {
  width: 55px;
  height: 100%;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  position: relative;
  z-index: 1;
  border-radius: 0 0 5px 5px;
}

.black {
  position: absolute;
  width: 30px;
  height: 150px;
  background: black;
  z-index: 10;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: white;
  transition: box-shadow 0.1s ease, transform 0.2s ease;
}

.blk-1 {
  left: calc(100% / 7 * 0.45 - 20px);
}
.blk-2 {
  left: calc(100% / 7 * 0.85 - 20px);
}
.blk-3 {
  left: calc(100% / 7 * 1.3 - 20px);
}
.blk-4 {
  left: calc(100% / 7 * 2.08 - 20px);
}
.blk-5 {
  left: calc(100% / 7 * 2.5 - 20px);
}
.blk-6 {
  left: calc(100% / 7 * 3.35 - 20px);
}
.blk-7 {
  left: calc(100% / 7 * 3.75 - 20px);
}
.blk-8 {
  left: calc(100% / 7 * 4.15 - 20px);
}
.blk-9 {
  left: calc(100% / 7 * 4.98 - 20px);
}
.blk-10 {
  left: calc(100% / 7 * 5.4 - 20px);
}
.blk-11 {
  left: calc(100% / 7 * 6.24 - 20px);
}
.blk-12 {
  left: calc(100% / 7 * 6.65 - 20px);
}

span {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bolder;
  user-select: none;
}

.black:active {
  scale: 0.95;
}
.white:active {
  scale: 0.95;
}
