* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: font1;
  src: url(./font1.woff2);
}
body,
html {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  background: linear-gradient(to right, #075ec8, #4112a7);
  position: fixed;
}
header p {
  text-align: center;
  color: white;
  padding: 15px;
  font-size: 0.9rem;
}
header .top {
  width: 100%;
  background-color: #181a1b;
  padding: 1.7rem 0.7rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 0rem;
  color: white;
}

main {
  width: 100%;
}
main section.view1 {
  width: 100%;
  padding-top: 8rem;
  background: linear-gradient(#002c3a 45%, #3f081d);
}
main section.view1 .top {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}
main section.view1 .top img {
  width: 100%;
  padding: 2rem 2rem;
}
main section.view1 .top h1 {
  text-align: start;
  color: white;
  font-family: font1;
  padding: 1rem 3.5rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.view1 p {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.7rem 2.5rem;
  padding-top: 2rem;
  color: white;
}
main section.view2 {
  background-color: #181a1b;
  color: white;
  font-family: font1;
  padding: 3rem 2rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2rem;
}
main section.view2 .top {
  border-top: 2px solid gray;
  padding-top: 2rem;
}
main section.view2 .top h3 {
  font-size: 2rem;
  font-weight: 900;
  color: white;
}
main section.view2 .top p {
  max-width: 90%;
  font-size: 1.5rem;
  padding-top: 1.5rem;
  color: gray;
}
main section.view2 .top img {
  width: 100%;
  padding-top: 2rem;
}
main section.view3 {
  width: 100%;
  background-color: #181a1b;
  color: white;
  font-family: font1;
  padding: 2rem 2rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 2rem;
}
main section.view3 .top img {
  width: 100%;
}
main section.view3 .bottom {
  width: 100%;
}
main section.view3 .bottom img {
  width: 100%;
  padding-top: 3rem;
}
main section.view3 .bottom h4 {
  padding-top: 2rem;
  font-size: 1rem;
  color: grey;
}
main section.view3 .bottom h3 {
  padding-top: 1.5rem;
  font-size: 3rem;
}
main section.view3 .bottom p {
  color: gray;
  width: 80%;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}
main section.view3 .bottom button {
  padding: 1rem 3rem;
  text-decoration: none;
  background-color: transparent;
  border: 1.5px solid royalblue;
  border-radius: 30px;
  color: white;
  font-size: 1rem;
}
main section.view3 .bottom a {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
  padding-bottom: 4rem;
}
main section.view4 {
  width: 100%;
  background: linear-gradient(to right, #3d3d06, #1b1d1e);
  color: white;
  font-family: font1;
  padding: 2.5rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}
main section.view4 .top {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0rem;
  align-items: center;
}
main section.view4 .top img {
  width: 100%;
  padding-top: rem;
}
main section.view4 .bottom {
  width: 100%;
}
main section.view4 .bottom h4 {
  padding-top: 2rem;
  font-size: 1.1rem;
  color: #b9b3aa;
}
main section.view4 .bottom h3 {
  padding-top: 1.5rem;
  font-size: 3rem;
}
main section.view4 .bottom p {
  color: gray;
  font-size: 1.1rem;
  width: 90%;
  line-height: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
main section.view4 .bottom button {
  padding: 1rem 2.5rem;
  text-decoration: none;
  background-color: royalblue;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1rem;
}
main section.view4 .bottom a {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
  padding-bottom: 4rem;
}
main section.view5 {
  width: 100%;
  background-color: #181a1b;
  color: white;
  padding: 4rem 3rem;
}
main section.view5 .view5_box {
  width: 96%;
  height: 25vw;
  background-color: #031d3a;
  border-radius: 1.5rem;
  display: flex;
}
main section.view5 .view5_box .left {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 4rem;
}
main section.view5 .view5_box .left h1 {
  font-size: 3rem;
}
main section.view5 .view5_box .left p {
  width: 90%;
  font-size: 1.2rem;
  font-weight: 400;
  color: #eaeaea;
}
main section.view5 .view5_box .left .lefti {
  width: 80%;
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 2rem;
}
main section.view5 .view5_box .left .lefti button {
  color: royalblue;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: #181a1b;
  border: 1px solid grey;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
}
main section.view5 .view5_box .left .lefti a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
main section.view5 .view5_box .right {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
main section.view5 .view5_box .right img {
  width: 100%;
  height: 25vw;
  overflow: hidden;
  border-radius: 0 1.5rem 1.5rem 0;
}

.footer {
  width: 100%;
  background-color: #1b1e1f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 2rem;
}
.footer .right {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.footer .right .right-box1 {
  line-height: 1.5rem;
}
.footer .right .right-box1 h4 {
  font-size: 1.1rem;
  color: white;
  padding: 2rem, 0rem;
}
.footer .right .right-box1 a {
  font-size: 1rem;
  color: grey;
  text-decoration: none;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #1b1e1f;
  padding: 3rem 3rem;
  padding-bottom: 5rem;
}
footer p {
  font-size: 0.8rem;
  padding-top: 1.5rem;
  border-top: 1px solid grey;
  line-height: 1rem;
  color: grey;
  font-weight: 500;
  text-align: center;
}
footer .contact {
  width: 100%;
  padding-bottom: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
footer .contact a {
  font-size: 0.8rem;
  text-align: center;
  color: grey;
  text-decoration: none;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  main section.view1 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
  }
  main section.view1 .top {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    gap: 1rem;
  }
  main section.view1 img {
    width: 45%;
    max-width: 500px;
  }
  main section.view1 h1 {
    width: 40%;
    font-size: 3.5rem;
  }
  main section.view1 .bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section.view1 .bottom p {
    font-size: 2rem;
    width: 80%;
    padding-bottom: 7rem;
  }
  main section.view2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2.5rem;
  }
  main section.view3 {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    gap: 1rem;
    padding: 2rem, 2rem;
  }
  main section.view3 .bottom {
    width: 50%;
    padding-top: 2.5rem;
  }
  main section.view3 img {
    width: 40%;
    max-width: 420px;
  }
  main section.view4 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem, 2rem;
  }
  main section.view4 .bottom {
    width: 50%;
    padding-top: 2.5rem;
  }
  main section.view4 img {
    width: 40%;
    max-width: 420px;
  }
  main section.view5 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 1rem;
  }
  .footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  }
  .footer .left img {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0rem;
  }
  .footer .right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 2rem;
  }
}