* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
@mixin flex($gap, $justify, $coloum_row) {
  display: flex;
  justify-content: $justify;
  flex-direction: $coloum_row;
  gap: $gap;
}
@font-face {
  font-family: font1;
  src: url(./font1.woff2);
}
body,
html {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  background: linear-gradient(to right, #075ec8, #4112a7);
  position: fixed;
  p {
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 0.9rem;
  }

  .top {
    width: 100%;
    background-color: #181a1b;
    padding: 1.7rem 0.7rem;
    @include flex(0rem, space-between, row);
    color: white;
  }
}

main {
  width: 100%;

  section.view1 {
    width: 100%;
    padding-top: 8rem;
    background: linear-gradient(#002c3a 45%, #3f081d);
    .top {
      @include flex(1rem, space-between, column);
      img {
        width: 100%;
        padding: 2rem 2rem;
      }
      h1 {
        text-align: start;
        color: white;
        font-family: font1;
        padding: 1rem 3.5rem;
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    p {
      text-align: center;
      font-size: 1.5rem;
      padding: 0.7rem 2.5rem;
      padding-top: 2rem;
      color: white;
    }
  }

  section.view2 {
    background-color: #181a1b;
    color: white;
    font-family: font1;
    padding: 3rem 2rem;
    @include flex(2rem, flex-end, column);

    .top {
      border-top: 2px solid gray;
      padding-top: 2rem;
      h3 {
        font-size: 2rem;
        font-weight: 900;
        color: white;
      }
      p {
        max-width: 90%;
        font-size: 1.5rem;
        padding-top: 1.5rem;
        color: gray;
      }
      img {
        width: 100%;
        padding-top: 2rem;
      }
    }
  }

  section.view3 {
    width: 100%;
    background-color: #181a1b;
    color: white;
    font-family: font1;
    padding: 2rem 2rem;
    @include flex(2rem, flex-end, column);

    .top {
      img {
        width: 100%;
      }
    }
    .bottom {
      width: 100%;
      img {
        width: 100%;
        padding-top: 3rem;
      }
      h4 {
        padding-top: 2rem;
        font-size: 1rem;
        color: grey;
      }
      h3 {
        padding-top: 1.5rem;
        font-size: 3rem;
      }

      p {
        color: gray;
        width: 80%;
        padding-top: 1.5rem;
        padding-bottom: 2rem;
      }

      button {
        padding: 1rem 3rem;
        text-decoration: none;
        background-color: transparent;
        border: 1.5px solid royalblue;
        border-radius: 30px;
        color: white;
        font-size: 1rem;
      }

      a {
        color: white;
        text-decoration: none;
        padding-left: 1rem;
        padding-bottom: 4rem;
      }
    }
  }
  section.view4 {
    width: 100%;
    background: linear-gradient(to right, #3d3d06, #1b1d1e);
    color: white;
    font-family: font1;
    padding: 2.5rem 2rem;
    @include flex(2rem, space-between, column);

    .top {
      @include flex(0rem, center, row);
      align-items: center;
      img {
        width: 100%;
        padding-top: rem;
      }
    }
    .bottom {
      width: 100%;
      h4 {
        padding-top: 2rem;
        font-size: 1.1rem;
        color: #b9b3aa;
      }
      h3 {
        padding-top: 1.5rem;
        font-size: 3rem;
      }

      p {
        color: gray;
        font-size: 1.1rem;
        width: 90%;
        line-height: 2rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
      }

      button {
        padding: 1rem 2.5rem;
        text-decoration: none;
        background-color: royalblue;
        border: none;
        border-radius: 30px;
        color: white;
        font-size: 1rem;
      }

      a {
        color: white;
        text-decoration: none;
        padding-left: 1rem;
        padding-bottom: 4rem;
      }
    }
  }
  section.view5 {
    width: 100%;
    background-color: #181a1b;
    color: white;
    padding: 4rem 3rem;
    .view5_box {
      width: 96%;
      height: 25vw;
      background-color: #031d3a;
      border-radius: 1.5rem;
      display: flex;

      .left {
        width: 100%;
        @include flex(1.5rem, center, column);
        padding-left: 4rem;
        h1 {
          font-size: 3rem;
        }
        p {
          width: 90%;
          font-size: 1.2rem;
          font-weight: 400;
          color: #eaeaea;
        }
        .lefti {
          width: 80%;
          @include flex(2rem, start, row);

          button {
            color: royalblue;
            font-size: 1.1rem;
            font-weight: 600;
            background-color: #181a1b;
            border: 1px solid grey;
            padding: 0.7rem 2rem;
            border-radius: 2rem;
          }

          a {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-decoration: none;
          }
        }
      }
      .right {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: flex-end;
        img {
          width: 100%;
          height: 25vw;
          overflow: hidden;
          border-radius: 0 1.5rem 1.5rem 0;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  background-color: #1b1e1f;
  @include flex(2rem, center, column);
  padding: 3rem 2rem;
  .right {
    width: 100%;
    @include flex(2rem, center, column);
    .right-box1 {
      line-height: 1.5rem;
      h4 {
        font-size: 1.1rem;
        color: white;
        padding: 2rem, 0rem;
      }
      a {
        font-size: 1rem;
        color: grey;
        text-decoration: none;
        line-height: 2rem;
        @include flex(2.4rem, center, column);
      }
    }
  }

}
footer{
  width: 100%;
 @include flex(1rem, center, column);
 background-color:#1b1e1f;
 padding: 3rem 3rem;
 padding-bottom: 5rem;
 p{
  font-size: 0.8rem;
  padding-top: 1.5rem;
  border-top: 1px solid grey;
  line-height: 1rem;
   color: grey;
   font-weight: 500;
   text-align: center;
 }
 .contact{
  width: 100%;
  padding-bottom: 5rem;
  @include flex(1rem, center, row);
   a{
     font-size: 0.8rem;
     text-align: center;
     color: grey;
     text-decoration: none;
     font-weight: 500;
   }
 }
}

@media screen and (min-width: 1024px) {
  main {
    section.view1 {
      @include flex(1rem, space-between, column);
      flex-wrap: wrap;
      align-items: center;
      .top {
        @include flex(1rem, space-around, row-reverse);
      }
      img {
        width: 45%;
        max-width: 500px;
      }
      h1 {
        width: 40%;
        font-size: 3.5rem;
      }
      .bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        p {
          font-size: 2rem;
          width: 80%;
          padding-bottom: 7rem;
        }
      }
    }
    section.view2 {
      @include flex(2.5rem, space-between, row);
    }
    section.view3 {
      @include flex(1rem, space-around, row-reverse);
      padding: 2rem, 2rem;
      .bottom {
        width: 50%;
        padding-top: 2.5rem;
      }
      img {
        width: 40%;
        max-width: 420px;
      }
    }
    section.view4 {
      @include flex(1rem, space-around, row);
      padding: 2rem, 2rem;
      .bottom {
        width: 50%;
        padding-top: 2.5rem;
      }
      img {
        width: 40%;
        max-width: 420px;
      }
    }
    section.view5 {
      @include flex(1rem, space-around, column);
    }
  }
  .footer {
    @include flex(2rem, center, row);
    .left {
      img {
        @include flex(0rem, flex-start, row);
      }
    }
    .right {
      @include flex(2rem, flex-end, row);
    }

  }
  
}
