* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body ,html {
height:100%;
width:100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
 
}
video{
    width: 100%;
    height: 100%;
}

section{
    height: 100%;
    width: 30vw;
    margin: auto;
    padding: 10px;
    position: relative;

}
#instagram-feed-container{ 
    height: 100%;
    width: 100%;
      overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
    
}
#instagram-feed-container::-webkit-scrollbar {
    display: none;
}

.reels{
    height: 100%;
    width: 100%;
    position: relative;
    scroll-snap-align: start;
    
}
.reels img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.bottom{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 13px;
    position: absolute;
    bottom: 30px;
    margin-left: 10px;

}
.bottom-down{
    position: absolute;
    bottom: 20px;
    padding: 0px 10px;
    font-size: 18px;
    color: white;
    font-weight: 400;
}
.bottom>img{
    height: 30px;
    width: 30px;
    border: 1.5px solid white;
    border-radius: 50%;
    object-fit: cover;
    

}

.bottom>span{
    color: white;
    font-size: 14px;
    font-weight: 700;
}

button{
    border-radius: 7px;
    border: none;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    cursor: pointer;
    padding: 5PX 3PX;
    font-size: 14px;
    font-weight: 700;
}

.right-box{
    height: 300px;
    position: absolute;
    bottom: 60px;
    right: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: center;
    color: white;
}

.like {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}

.comment{
       height: 30px;
    width: 30px; 
        display: flex;
    flex-direction: column;
    gap: 8px;
}

.share{
     height: 30px;
    width: 30px; 
        display: flex;
    flex-direction: column;
    gap: 8px;
}
 i{
 font-size: 24px;
 font-weight: 700;
}
.filllike{
    color: red;
}
/* .like h4,.like span{
    pointer-events: none;
} */
 .volume{
    height: 40px;
    width: 40px;
    background-color: rgba(95, 95, 95, 0.21);
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    top: 20px;
    right :20px;
 }