* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body ,html {
height:100%;
width:100%;
}

/* //basic animation */
.page1{
     height: 100%;
    width: 100%;
    background-color: rgb(28, 255, 255);
}

/* // page animation text animation  */
/* .page2{
 height: 100%;
    width: 100%;
    background-color: rgb(109, 18, 255);
    overflow-x: hidden;
    
} 

 h1{
    color: black;
    font-size: 35vw;
    font-weight: 600;
    text-align: center;
}  */



/* // //line effect curve path*/
/* .String{
     height:160px;
     width: 100%;
     background-color: black;   
} */


/* // curcsor effect  */
/* .main{
    height: 100%;
    width: 100%;
    background-color: #000000;
        }

.cursor{
    height:20px;
    width: 20px;
    background: #fff;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    font-size:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 9;
}
.image{
    height: 30vw;
    width: 60vw;
 background-color: red;
    border-radius: 10px;
    position: relative;
}
img{
 height: 100%;
  width: 100%;
  object-fit: cover;
 
}

.overlap{
     height: 100%;
    width: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 10;
}
 */
