* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body,
html {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding: 30px 0px;
  color: white;
}
main {
  height: 100%;
  width: 100%;
  background-color: rgb(51, 84, 112);
   display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}
#box {
  background-color: bisque;
  font-size: 15px;
  height: 400px;
  width: 500px;
  padding: 20px 30px;
  border-radius: 10px;
   box-shadow: 10px 10px 10px black;
}
button{
    padding: 10px 30px;
    background-color: crimson;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
     box-shadow: 1px 1px 15px white;
}

button:active{
    scale: 0.9;
}

.team-card{
    padding-top: 30px;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    color: white;
    flex-direction: column;
    gap: 20px;
}