@font-face {
    font-family: danger;
    src: url(RUSTY\ ATTACK\ DEMO\ Regular.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body ,html {
height:100%;
width:100%;
}

div{
    height: 100%;
    width: 100%;
    background-image: url(https://wallpaperaccess.com/full/1537507.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 110px;
}

h1{
    color: whitesmoke;
    font-family:danger ;
    font-weight: 400;
    margin-left: 450px;
    
}
button{
    margin-left: 63%;
margin-top: 20px;
padding: 10px 30px;
background-color: #c61c35;
border-radius: 5px;
border: none;
}