*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body ,html {
height:100%;
width:100%;

.h1{
  color: red;
}
}

/* h1{ */
/* background: linear-gradient(to right, blue ,red,yellow,blue);
    background-clip: text;
    background-size: cover;
    background-position: center;
    font-size: 900%;
    color: transparent;
    text-shadow: 0 20px 100px limegreen; */
      /* color: transparent;
  -webkit-text-stroke: 2px #00ffff;
  font-size: 100px; */
    /* color: #00ffff;
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 40px #00ffff; */
  /* background: linear-gradient(90deg, #ff00cc, #3333ff);
-webkit-background-clip: text;
color: transparent; */
/* 
  color: rgb(217, 48, 48);
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  padding: 10px 20px;
  border-radius: 10px; */
 
  /* mix-blend-mode:color-burn;
  color: rgb(177, 15, 15);

 */

/* } */
/* h1{
background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff);
background-size: 200%;
-webkit-background-clip: text;
color: transparent;
animation: shine 3s linear infinite;
}
@keyframes shine {
  100% { background-position: 200% center; }
} */

/* h1 { */
  /* color: rgb(134, 103, 103);
  -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0,0,0,0.5));
} */
/* h1 {
  transition: 0.3s;
}
h1:hover {
  filter: blur(3px);
} */


