* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}

h1 {
  color: red;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  gap: 10px;
}
main section {
  background-color: black;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main section:nth-child(1) {
  background-image: url("https://i.pinimg.com/736x/f5/56/8f/f5568f1247e6b9be2290c53958f67c1d.jpg");
}
main section:nth-child(2) {
  background-image: url("https://i.pinimg.com/1200x/a1/bb/4a/a1bb4a6eb47056d03de862f9c19490eb.jpg");
}
main section:nth-child(3) {
  background-image: url("https://i.pinimg.com/1200x/23/02/92/230292ff73c4e4fc2d239081d05eed90.jpg");
}
main section:nth-child(4) {
  background-image: url("https://i.pinimg.com/1200x/6d/ce/44/6dce441cff9c58a9f99dc401ca3f58e9.jpg");
}
main section:nth-child(5) {
  background-image: url("https://i.pinimg.com/736x/35/8c/b6/358cb6325095c09fdaaed22864e2f90b.jpg");
}
main section:hover {
  flex-grow: 3;
  transition: all 3s ease-in-out;
  font: 1em sans-serif;
}