* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body,
html {
  height: 100%;
  width: 100%;
  color: white;
}

.box1 {
  height: 120%;
  width: 100%;
  background: linear-gradient(to right, rgb(42, 4, 82) 35%, rgb(123, 29, 107));
  padding-top: 2%;
}

nav {
  width: 80%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
h2 {
  font-weight: 600;
  text-shadow: 0 0 10px #f0f, 0 0 20px rgb(240, 41, 220),
    0 0 30vw rgb(223, 62, 205);
}

a:hover {
  border-radius: 15px;
  padding: 10px 30px;
  background: linear-gradient(to right, rgb(240, 127, 208), rgb(250, 107, 186));
  box-shadow: 0 0 10px #f0f;
}
#img >img {
  box-shadow: 0 0 5px #f0f, 0 0 10px rgb(240, 41, 220),
    0 0 20vw rgb(223, 62, 205);
}

#img {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu a {
  text-decoration: none;
}

#P1 {
  margin-top: 7%;
  text-align: center;
  font-weight: 700;
  word-spacing: 10px;
  color: rgb(108, 69, 152);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.box1 >H1 {
  text-align: center;
  margin-top: 1%;
  font-size: 10vh;
  font-weight: 900;
  color: rgb(122, 68, 184);
}

.P2 {
  margin-left: 28%;
  text-align: center;
  width: 44%;
  margin-top: 3%;
  color: rgb(163, 124, 181);
}

#boxes4 {
  width: 70%;
  margin-top: 5%;
  margin-left: 14.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.boxes1 {
  height: 110px;
  width: 100px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* soft shadow */
  background: rgba(245, 245, 245, 0.1);
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.boxes1 > p {
  font-size: 8px;
}
.boxes1 > h3 {
  font-size: 25px;
}

.btm{
    margin-top: 5%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    margin-left: 25%;
}
button{
    font-weight: 600;
    color: white;
    padding: 15px 50px;
    border: 2px solid white;
    border-radius: 30px;
    background-color: transparent;
}

button:hover{
    background:linear-gradient(to right, rgb(255, 188, 236), rgb(245, 43, 154));
    box-shadow: 0 0 10px #f0f;
}

/* //box2 */
#box2{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,#430874 30%,#772660);
 padding: 50px;
}

#box2 >h1{
    margin:  10px;
    font-size: 50px;
    font-weight: 600;
    color: #00fdff;
}