* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body ,html {
height:100%;
width:100%;
}

.container {
    // display: flex;
    // flex-direction: column;
    

}

.notification{
    padding: 0.7rem 1rem;
    display: block;
    background-color: rgb(70, 70, 70);
    border-radius: 0.5rem;
    // position: fixed;
    // top: 0.5rem;
    // left: 0.5rem;
    box-shadow: 0px 10px 20px rgb(94, 94, 94);
    color: white;
    

   .dark {
      background-color: #333;
    }
   &.light {
      background-color: #e3e3e3;
      color: black;
    }
}
