* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes ani {
    from{
        --rotate:0deg;
    }
    to {
        --rotate:360deg;
    }
}

body ,html {
height:100%;
width:100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    padding: 10px;
    background: linear-gradient(rgb(7, 7, 7)) padding-box,
    conic-gradient( from var(--rotate),rgb(0, 0, 0),rgb(255, 0, 123),black,rgb(255, 0, 123),black ) border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    overflow: hidden;
    text-align: start;
    transition: 0.5s;
    color: whitesmoke;
    animation: ani 3s  infinite  linear ;
    animation-play-state: paused;
    transition:  all 0.3s ease;
}
.card:hover{
    animation-play-state: running;
     border: 5px solid rgba(0, 0, 0, 0);
        box-shadow: 0 0 70px rgb(255, 0, 195);
        color:rgb(255, 0, 123) ;
        text-shadow:0 0 20px rgb(255, 0, 195) ;
}
.card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.card img{
    text-align: start;
}

h3 {
    margin: 10px 0;
    font-size: 1.5em;
}
